<div class="todo__new">
    <h2 class="text-center mt-4">Nuovo Todo</h2>
    <form #f="ngForm" (submit)="creaTodo(f)" >        
            <label for="strTitolo">Titolo</label><br>
            <input type="text" id="strTitolo" [ngModel]="dati.titolo" name="titolo" class="form-control" required />   
            <br>
            <label for="strContent">Contenuto</label><br>
            <textarea id="strContent" [ngModel]="dati.contenuto" name="contenuto" class="form-control"></textarea>
            <br>
        <div class="text-center">
            <button type="submit" [disabled]="f.invalid" class="btn btn-success btn-lg" >AGGIUNGI</button>
        </div>
    </form>
<!--
    <div>DATI:<br>{{dati | json}}</div>
    <div>FORM:<br>{{f.value | json}}</div>
    -->
</div>
