<div class="todo" [ngClass]="{'complete':item.done, 'notComplete':item.done!=true}" data-id="{{item.id}}" *ngIf="item">
    <h3 class="todo__title">{{item.title}}</h3>
    <p class="todo__content" [innerHTML]="item.content" ></p>
    
    <span *ngIf="!item.done" class="todo__status--ok">
        DA FARE <span type="button" (click)="completa()"><i class="fas fa-check"></i></span>
    </span>

    <span *ngIf="item.done" class="todo__status--not">
        COMPLETATO <span type="button" (click)="completa()"><i class="fas fa-times"></i></span>
    </span>

    <span class="todo__delete">
        <span (click)="cancella()"><i class="far fa-trash-alt"></i></span>
    </span>


    <ul class="list-group mt-4">
        <li class="list-group-item p-0"><button class="btn btn-outline-dark btn-block rounded-0" routerLink="/todo/{{item.id}}">VAI A ID</button></li>

        <li class="list-group-item p-0"><button class="btn btn-outline-dark btn-block rounded-0" (click)="vaiATodo()" >VAI A ID da TS</button></li>

        <li class="list-group-item p-0"><button class="btn btn-outline-dark btn-block rounded-0" (click)="vaiATodoObj()" >VAI A ID con Obj</button></li>
    </ul>

</div>
