<div class="row">
    <div class="col-md-8 col-lg-6">
        <img src="https://picsum.photos/600/600.jpg?random=2" class="img-fluid" >
    </div>
    <div class="col-md-4 col-lg-6">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ex dolorum soluta placeat autem sint laudantium reiciendis, in tenetur cumque temporibus repudiandae quas! Soluta, nisi voluptatem error eveniet exercitationem vel!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ex dolorum soluta placeat autem sint laudantium reiciendis, in tenetur cumque temporibus repudiandae quas! Soluta, nisi voluptatem error eveniet exercitationem vel!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ex dolorum soluta placeat autem sint laudantium reiciendis, in tenetur cumque temporibus repudiandae quas! Soluta, nisi voluptatem error eveniet exercitationem vel!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ex dolorum soluta placeat autem sint laudantium reiciendis, in tenetur cumque temporibus repudiandae quas! Soluta, nisi voluptatem error eveniet exercitationem vel!</p>
    </div>
</div>
